.wrapper
  .container
    - if user_signed_in?
      .contents-new
        = link_to "クイズを作成する", new_question_path, class: "contents-new__question"
    .contents-title
      %h1 ジャンルから問題を検索することができます
    .contents-genre
      - @genres.each do |genre|
        = link_to "#{genre.name}", genre_question_path(genre), class: "contents-genre__name"
    - @questions.each do |question|
      = render partial: "questions", locals: { question: question }
    .contents-page
      = paginate(@questions)
