.wrapper
  .container
    .contents-last
      = link_to "問題作成のやり方", how_to_questions_path, class: "contents-last__first"
    .contents-create
      = form_for @question do |f|
        .contents-create__title
          %h1 問題作成
        .contents-create__field
          .contents-create__field__label
            = f.label :"問題"
            %br/
          .contents-create__field__text
            = f.text_field :title, class: "contents-create__field__text__t"
            %br/
            = f.fields_for :answers, "answers[]" do |a|
              .contents-create__field__label
                - if a.index == 0
                  = a.label :"選択肢1"
                - elsif a.index == 1
                  = a.label :"選択肢2"
                - else
                  = a.label :"選択肢3"
                %br/
              .contents-create__field__input
                .contents-create__field__input__text
                  = a.text_field :answer, class: "contents-create__field__input__text__t"
                  %br/
                .contents-create__field__input__check
                  = a.radio_button :correct, "正解", class: "contents-create__field__input__check__c"
                  = a.label "correct_正解", :"正解", class: "contents-create__field__input__check__l"
          .contents-create__field__genre
            = f.label :"ジャンル", class: "contents-create__field__genre__label"
            %br/
            = f.collection_select :genre_id, Genre.all, :id, :name, class: "contents-create__field__genre__g"
          .contents-create__field__btn
            = f.submit "作成する", class:"contents-create__field__btn__b"
      .contents-create__link
        = link_to "クイズ一覧に戻る", questions_path, class: "header__right__list__sign__btn"
