<!DOCTYPE html>
<html>
  <head>
    <title>Quizz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__left">
        <%= link_to "Quizzzzz", root_path, class: "header__left__text" %>
      </div>
      <% if user_signed_in? %>
        <div class="header__right"> 
          <ul class="header__right__list">
            <li class="header__right__list__sign"><div class="header__right__list__sign__name"><%= current_user.name %></div></li>
            <li class="header__right__list__sign"><%= link_to "クイズ一覧", questions_path, class: "header__right__list__sign__btn" %></li>
            <li class="header__right__list__sign"><%= link_to "クイズ作成", new_question_path, class: "header__right__list__sign__btn" %></li>
            <li class="header__right__list__sign"><%= link_to "マイページ", user_path(current_user.id), class: "header__right__list__sign__btn"%></li>
            <li class="header__right__list__sign"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right__list__sign__btn"%></li>
          </ul>
        </div>
      <% else %>
        <div class="header__right"> 
          <ul class="header__right__list">
            <li class="header__right__list__sign"><%= link_to "ログイン", new_user_session_path, class: "header__right__list__sign__btn"%></li>
            <li class="header__right__list__sign"><%= link_to "新規登録", new_user_registration_path, class: "header__right__list__sign__btn"%></li>
          </ul>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
